/* Empêcher le débordement horizontal */
html, body {
  overflow-x: hidden;
}

.app-layout {
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

.main-content {
  flex: 1;
  padding: 20px;
  width: calc(100% - 250px);
  margin-left: 250px;
  transition: margin-left 0.3s, width 0.3s;
  overflow-x: hidden;
}

.sidebar-premium.collapsed ~ .main-content {
  margin-left: 90px;
  width: calc(100% - 90px); /* Ajustement quand la sidebar est réduite */
}

/* Pour les écrans plus petits, vous pourriez ajouter des media queries */
@media (max-width: 768px) {
  .main-content {
    width: 100%;
    margin-left: 0;
  }

  .sidebar-premium.collapsed ~ .main-content {
    width: 100%;
    margin-left: 0;
  }
}